services:
  blue:
    container_name: blue
    image: konkukkuit/kuitee
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - monitoring

  green:
    container_name: green
    image : konkukkuit/kuitee
    env_file:
      - .env
    ports:
      - "8081:8080"
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - /home/ubuntu/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=kuitee
      - GF_SECURITY_ADMIN_PASSWORD=Kuitee2511!
      - GF_SERVER_ROOT_URL=https://kuitee.p-e.kr/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    networks:
      - monitoring

networks:
  monitoring:
    external: true   # 이미 docker network create monitoring 으로 만들어 둘 거라 external 로 선언